<div class="row card">
  <h5>Cards</h5>
  <div class="col-8">
    <div class="creditCard">
      <p>{{ cards.primaryCard.bank }}</p>
      <span>{{ cards.primaryCard.type }}</span>
      <span class="cardNum">{{ cards.primaryCard.number }}</span>
      <div class="cardBottom">
        <div class="col-6">
          <span>Card Holder</span>
          <p>{{ cards.primaryCard.name }}</p>
        </div>
        <div class="col-6">
          <span>Expire Date</span>
          <p>{{ cards.primaryCard.expiry }}</p>
        </div>
      </div>
    </div>
    <div class="creditCardLimit">
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <p class="progressText">Expense limit <span>${{ cards.expense.current }} / ${{ cards.expense.limit }}</span></p>
    </div>
  </div>
  <div class="col-4">
    <div class="balance">
      <div class="creditNums">
        <p class="currentBalance">$ {{ cards.balance.current }}</p>
        <span>Current balance</span>
      </div>
      <div class="creditNums">
        <p class="availibleCredit">$ {{ cards.balance.credit }}</p>
        <span>Availible credit</span>
      </div>
      <div class="creditNums">
        <p class="avaitingProvisions">$ {{ cards.balance.provisions }}</p>
        <span>Avaiting provisions</span>
      </div>
      <div class="form-check form-switch cardActivationButton">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Deactivate Card</label> -->
        <span>Deactivate Card</span>
      </div>
    </div>
  </div>
</div>
