<div class="row card card-no-border">
  <h5>Module Usage</h5>
  <div class="moduleUsageBars">
    <div class="row mt20">
      <div class="col-1">
        <img src="https://via.placeholder.com/30/F9DB98" alt="" />
      </div>
      <div class="col-9">
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 52%"
            aria-valuenow="52"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <p class="progressText">Exams</p>
      </div>
      <div class="col-2">
        <p>52%</p>
      </div>
    </div>
    <div class="row mt20">
      <div class="col-1">
        <img src="https://via.placeholder.com/30/DDF9E4" alt="" />
      </div>
      <div class="col-9">
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 33%"
            aria-valuenow="33"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <p class="progressText">Monitoring</p>
      </div>
      <div class="col-2">
        <p>33%</p>
      </div>
    </div>
    <div class="row mt20">
      <div class="col-1">
        <img src="https://via.placeholder.com/30/4772B7" alt="" />
      </div>
      <div class="col-9">
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 15%"
            aria-valuenow="15"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <p class="progressText">Application Library</p>
      </div>
      <div class="col-2">
        <p>15%</p>
      </div>
    </div>
  </div>
</div>
