/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

p {
  margin: 0;
  padding: 0;
}

a {
  color: #afafaf;
  text-decoration: none;
}

a:hover {
  color: #cdcdcd;
}

svg {
  color: #cdcdcd;
}

.btn {
  font-size: 0.75rem;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.textGreySmall {
  font-size: 0.75rem;
  color: #dadada;
}

.progressText {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: #aeaeae;
}

.fdc {
  flex-direction: column !important;
}

table th {
  font-size: 0.75rem;
  color: #aeaeae;
}

table td {
  color: #404040;
  font-size: 0.75rem;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

.form-check-input {
  background-color: #efefef;
  border: 1px solid #efefef;
}

.adminPage {
  display: flex;
}

.navContent {
  padding: 20px 20px 0px 20px;
  margin: 20px;
}

.addLocationButton {
  color: #404040;
  background-color: #ffc145;
  padding: 0px 5px 0px 5px;
  border-radius: 15px;
  width: 15px;
  height: 15px;
}

.locationSymbol {
  padding-top: 20px;
  width: 25px;
  height: 35px;
}

.locationTableSymbol {
  width: 25px;
  height: 25px;
  background-color: #efefef;
  padding: 4px;
  margin-left: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #ddd;
}

.productsTable {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navHeader {
  padding: 20px 20px 0px 20px;
  margin: 20px;
}

.navigationCol {
  border-right: 1px solid #ddd;
}

.navigationCol .navigationRoute {
  margin: 20px;
  padding: 20px;
}

.navigationRoute li {
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
}

.container .card {
  box-shadow: 1px 1px 10px #e1e1e1;
  border-radius: 20px;
}

.card {
  flex-direction: row;
  margin: 10px 20px;
  padding: 20px;
}

.card-no-border {
  border: none;
  box-shadow: none !important;
}

.creditCard {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#197bbd, #449dd9);
  width: 100%;
  height: 200px;
  border-radius: 30px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.creditCard p {
  margin: 0;
}

.creditCard span {
  font-size: 0.5rem;
  color: rgb(255 255 255 / 69%);
}

.creditCard .cardNum {
  color: white !important;
  font-size: 1rem !important;
  margin: 0 0 auto;
  padding-top: 40px;
  letter-spacing: 0.4rem;
}

.creditCard .cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.creditCardLimit {
  margin-bottom: 20px;
}

.creditCardLimit .progressText span {
  float: right;
  color: #404040;
}

.cardActivationButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cardActivationButton span {
  font-size: 0.75rem;
  color: #dadada;
}

.cardActivationButton .form-check-input {
  height: 1.4em;
  width: 2.3em;
}

.progress {
  height: 0.5rem;
}

.progress-bar {
  background-color: #307bbd;
}

.balance {
  display: flex;
  flex-direction: column;
  text-align: right;
  border-left: 1px solid #ddd;
}

.balance .creditNums {
  flex-direction: column;
  display: flex;
  padding-bottom: 20px;
}

.balance .creditNums span {
  font-size: 0.75rem;
  color: #dadada;
}

.balance .creditNums .currentBalance {
  font-size: 1.5rem;
  color: #307bbd;
}

.balance .creditNums .availibleCredit {
  color: #439a86;
}

.balance .creditNums .avaitingProvisions {
  color: #bb4430;
}

.administrators {
  display: flex;
  margin-left: -10px;
  margin-top: 10px;
  justify-content: space-around;
}

.administrators .admin {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.administrators .admin img {
  border-radius: 15px;
}

.administrators .admin .adminName {
  font-size: 0.75rem;
  color: #aeaeae;
}

.invite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
}

.invite .form-control {
  width: 80%;
  font-size: 0.75rem;
}

.invite button {
  width: 100%;
}

.invite .btn-primary {
  color: #000;
  background-color: #ffc145;
  border-color: #ffc145;
}

.contactSupport {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#ed654c, #d05842);
  height: 170px;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  color: white;
}
